@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --transparent: transparent;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --indigo-300: #a5b4fc;
  --violet-200: #ddd6fe;
  --sage-300: #8FF7A7; /* Lighter Green Mint */
  --sage-400: #52E09B; /* Vibrant Teal Green */
  --sage-500: #1FC978; /* Strong Emerald Green */
  --sage-600: #00A964; /* Deep Jade */
  --sage-700: #008754; /* Dark Forest Green */
  --sage-800: #006A42; /* Almost Black-Green */
  --sage-900: #004D2C; /* Deepest Dark Teal */  
}

@layer utilities {
  .animate-aurora {
    animation: aurora 20s linear infinite;
  }
}

@keyframes aurora {
  0% {
    background-position: 50% 50%, 50% 50%;
  }
  50% {
    background-position: 100% 100%, 100% 100%;
  }
  100% {
    background-position: 50% 50%, 50% 50%;
  }
}

